<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
    
    <body>
    
        <%- include('./partials/header')%>
            

        <main class="container">
            <h2>Edición de Producto</h2>
            <form action="/products/<%= product.id %>?_method=PUT" method="POST">
                <input type="text" name="name" value="<%= product.name %>" required>
                <input type="number" name="price" step="0.01" value="<%= product.price %>" required>
                <textarea name="description"><%= product.description %></textarea>
                <input type="text" name="image" value="<%= product.image %>">
                <button type="submit">Actualizar Producto</button>
            </form>
            
        </main>

        <%- include('./partials/footer')%>

        <script src="javascripts/menuToggle.js"></script>
    </body>
</html>

