<!DOCTYPE html>
<html lang="es">
    
<%- include('../partials/head', { extraCSS: '<link rel="stylesheet" href="/stylesheets/libros.css">' }) %>

    <body>
        
        <%- include('../partials/header')%>
        <main>
            <section id="libros" class="container">
                <% products.forEach(product => { %> <!-- Cambié "libros" por "products" -->
                    <div class="book">
                        <img src="/uploads/<%= product.image %>" alt="<%= product.name %>">
                        <h3><%= product.nombre %></h3> <!-- Cambié "name" por "nombre" -->
                        <p>Autor: <%= product.autor || 'Desconocido' %></p> <!-- Cambié "libro" por "product" -->
                        <p>Categorías:</p>
                        <p class="precio">$ <%= product.precio || '0.00' %></p>
                        <a href="/products/<%= product.id %>">Ver más</a>

                    </div>
                <% }); %>
            </section>
        </main>
        
        <%- include('../partials/footer')%>

        <script src="/javascripts/menuToggle.js"></script>

    </body>
</html>
